<FilesMatch ".*\.(css|js)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
<Files *.php>
    Order Deny,Allow
    Deny from all
    Allow from 127.0.0.1
</Files>

<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>

RewriteEngine On

RewriteCond %{THE_REQUEST} index\.php [NC]
RewriteRule ^(.*)$ index.php?picklerewriteurl=$1 [NS,QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?picklerewriteurl=$1 [NS,QSA,L]